---
import GitHubIcon from "@/components/icons/social/GitHubIcon.astro";
import LinkedInIcon from "@/components/icons/social/LinkedInIcon.astro";
import WhatsAppIcon from "@/components/icons/social/WhatsAppIcon.astro";
import {
	Tooltip,
	TooltipContent,
	TooltipTrigger,
} from "@/components/starwind/tooltip";
import { telf } from "@/utils/const";
import { getTexts } from "@/utils/i18n";
const texts = getTexts(Astro);
---

<div
	class="flex gap-8 bg-neutral-secondary-soft border dark:border-gray-200 border-blue-900 rounded-2xl p-8 md:p-12 mb-8"
>
	<div>
	<h1 id="about-heading" class="text-heading tracking-tighter text-3xl md:text-5xl font-bold my-6">
		{texts.personal.intro} <br />
		<span class="text-blue-600 font-black">{texts.personal.role}</span>
	</h1>
	<p class="md:text-lg font-normal text-body mb-6">
		{texts.personal.description}
	</p>
		<div>
			<Tooltip>
				<TooltipTrigger>
					<GitHubIcon href="https://github.com/ChrisCampaDev" />
				</TooltipTrigger>
				<TooltipContent side="bottom" align="center"> {texts.social.github} </TooltipContent>
			</Tooltip>
			<Tooltip>
				<TooltipTrigger>
					<LinkedInIcon
						href="https://www.linkedin.com/in/christian-campa-su%C3%A1rez-40551b268/"
					/>
				</TooltipTrigger>
				<TooltipContent side="bottom" align="center">
					{texts.social.linkedin}
				</TooltipContent>
			</Tooltip>

			<Tooltip>
				<TooltipTrigger>
					<WhatsAppIcon href=`https://wa.me/${telf}` />
				</TooltipTrigger>
				<TooltipContent side="bottom" align="center"> {texts.social.whatsapp} </TooltipContent>
			</Tooltip>
		</div>
	</div>
</div>
