---
import { getCollection } from "astro:content";
import Work from "./ui/Work.astro";

const experiences = await getCollection("works");
---
<h4 class="text-white text-center px-5 py-2 text-2xl">Experiencia Laboral</h4>
    <div class="mx-auto max-w-3xl p-7">
        <ol class="relative border-l-2 border-blue-500 dark:border-gray-600">
            {experiences.map((work) => (
             <Work
                time={work.data.Date}
                company={work.data.Company}
                description={work.data.Description}
                highlights={work.data.Highlights}
                role={work.data.Role}
                stack={work.data.DevTools}
             />
            ))}
        </ol>
    </div>
